<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | <a id="blogwith2" href="http://blog.with2.net/link.php?174144">人気ブログランキング</a><br>
    </div>
  </div>
</footer>
